.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(241, 246, 247, 1) 0%, rgba(237, 247, 255, 1) 100%);

    animation-name: fadeInAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cardleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}