@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

* {
    margin: 0;
    color: #1c5a67;
    font-family: 'Noto Sans JP', sans-serif;
    --color-primary: #3da0b4;
}

.emoji {
    font-family: 'Noto Color Emoji', 'Noto Sans JP', sans-serif;
}

::selection {
    background-color: #1c5a67;
    color: #fff;
}

.main {
    position: absolute;
    left: 50vw;
    display: flex;
    flex-direction: row;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(241, 246, 247, 1) 0%, rgba(237, 247, 255, 1) 100%);
}

a {
    color: var(--color-primary);
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.tip {
    position: fixed;
    color: var(--color-primary);
    font-size: 12px;
    display: flex;
    gap: 4px;
    left: 50%;
    top: calc(50vh + max(32px, 5vh));
    transform: translateX(-50%);
    flex-direction: column;
}

.message {
    position: fixed;
    top: calc(50vh - 25vh);
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.15s;
    animation: cubic-bezier(0.14, 0.02, 0.25, 1.49) 0.5s forwards;
    width: 400px;
    text-align: center;
    color: var(--color-primary);
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.message>span {
    color: var(--color-primary);
}

.failed>span,
.failed {
    color: #df2121;
}

.message:empty {
    top: calc(50vh - 160px);
    opacity: 0.0;
}

form {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

input {
    margin: 10px;
    width: 230px;
    height: 32px;
    border: none;
    color: #1c5a67;
    outline: 2px solid var(--color-primary);
    font-weight: 900;
    border-radius: 10px;
    padding-left: 10px;
    transition: 0.1s;
    background-color: #fff;
}

input:focus::placeholder {
    color: #fff;
}

input:focus {
    background: var(--color-primary);
    color: #ffffff;
}

input:hover,
input:focus {
    transform: scale(105%) translateY(-1px);
}

button {
    margin: 10px;
    width: 150px;
    height: 34px;
    border: none;
    color: #1c5a67;
    outline: 2px solid var(--color-primary);
    font-weight: 900;
    border-radius: 10px;
    transition: 0.1s;
    background-color: #fff;
}

button:hover {
    background-color: var(--color-primary);
    color: #fff;
    transform: scale(105%) translateY(-1px);
}

.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(241, 246, 247, 1) !important;
    color: #1c5a67;
}
